* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	background: #fff;
	font: 13px Arial, sans-serif;
	color: #000;
}

header,
section,
nav,
footer {
	display: block;
	max-width: 900px;
	margin: 0 auto;
}

.small-tip {
	font-style: italic;
	color: grey;
	font-size: smaller;
}

/************************************************************************
 *	Header + Navigaiton
 */

header {
	background-color: #aadcee;
}

header > h1 {
	padding: 10px;
}

nav {
	padding: 0px;
}

nav ul {
	background: #eee;
}

nav li {
	display: inline-block;
}

nav li a {
	display: inline-block;
	padding: .5em 1em;
	text-decoration: none;
}

.page-home .nav-home a,
.page-kontakt .nav-kontakt a {
	background: #ddd;
}


/************************************************************************
 *	Content
 */

section {
	padding: 15px;
}

section > :is(p, h1, h2) {
	margin-bottom: 10px;
}

#home {
	background-color: #cddce1;
}

#results {
	background-color: #e3d7bd;
}
/************************************************************************
*	Footer
 */

 
footer {
	background-color: #63d1f6;
	border-top: 1px solid #ddd;
	padding: 15px;
}