* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	background: #fff;
	font: 14px "PT Sans", Arial, sans-serif;
	color: #000;
}

header,
section,
nav,
footer {
	display: block;
	max-width: 900px;
	margin: 0 auto;
}

.small-tip {
	font-style: italic;
	color: grey;
	font-size: smaller;
}

/************************************************************************
 *	Header + Navigaiton
 */

header {
	background-color: #aadcee;
}

header > h1 {
	padding: 10px;
}

nav {
	padding: 0px;
}

nav ul {
	background: #eee;
}

nav li {
	display: inline-block;
}

nav li a {
	display: inline-block;
	padding: .5em 1em;
	text-decoration: none;
}

h1 a {
	text-decoration: none;
	color: green;
}


/************************************************************************
 *	Content
 */

section {
	padding: 15px;
}

section > :is(p, h1, h2) {
	margin-bottom: 10px;
}

#home {
	background-color: #cddce1;
}

#key-info {
	background-color: #d5df97;
}

@media (min-width: 500px) {
	.key-grid {
		display: grid;
		min-height: 100px;
		gap: 10px;
		grid-template-areas: 
		/*1*/ "A A A A A"
		/*2*/ "B B B X X"
		/*3*/ "S S S X X"
		/*4*/ "C F W X X"
		/*5*/ "E E E X X"
		/*6*/ "H H H X X"
		/*7*/ "H H H X X";
		grid-template-rows: repeat(5, auto) 2fr;
		grid-template-columns: repeat(3, 1fr) 4fr;
	}
}
@media (max-width: 500px) {
	.key-grid {
		display: grid;
		width: 100%;
		/* min-height: 100px; */
		gap: 10px;
		grid-template-areas: 
		/*1*/ "A"
		/*2*/ "B"
		/*3*/ "S"
		/*4*/ "C"
		/*5*/ "F"
		/*6*/ "E"
		/*7*/ "W"
		/*8*/ "H"
		/*9*/ "X";
		/* grid-template-rows: repeat(5, auto) 2fr; */
		/* grid-template-columns: repeat(3, 1fr) 4fr; */
	}
}

.grid-div h4 {
	background-color: #426119;
	color: white;
	padding: 4px;
}
.grid-div p {
	background-color: #c0df97;
	padding: 10px;
	white-space: pre-line;
}
.grid-div ol {
	padding: 10px;
	padding-left: 25px;
	background-color: #c0df97;
}
ol > li::marker {
	font-weight: bold;
}

.grid-div hr {
	border: solid 3px #203307;
}

.grid-div :is(h4, p, hr, ol) {
	box-shadow: 5px 5px 1px grey;
}

.grid-name { grid-area: A; }
.grid-name > p {
	font-size: 2em;
}
.grid-syn { grid-area: B; }
.grid-sds { grid-area: S; }
.grid-cas { grid-area: C; }
.grid-mw { grid-area: W; }
.grid-hazards { grid-area: H; }
.grid-formula { grid-area: F; }
.grid-fire { grid-area: E; }
.grid-props { grid-area: X; }


#results {
	background-color: #e3d7bd;
}

#whole-text {
	background-color: #f0c7a7;
	font-size: 10px;
}

/************************************************************************
*	Footer
 */

 
footer {
	background-color: #63d1f6;
	border-top: 1px solid #ddd;
	padding: 15px;
}